/* ROOT & FONT*/
@font-face {
    font-family: Energy ;
    src: url(../font/LTEnergy.ttf);
}

:root{
    --Blue- :#1045a8;
    --LightBlue- :#4d82e6;
    --Red- : rgb(196, 36, 36) ;
    --White-:rgb(255, 255, 255);
    --Black-:rgb(0, 0, 0);
    --LightBlack-:rgb(83, 83, 83);
    --Grey-:rgb(221, 221, 221);
    --LightGrey-:rgb(236, 236, 236);
    --Transparent-:rgba(255, 255, 255, 0);
    --Shadow-:rgba(0, 0, 0, 0.219);
}

/* FORMULAIRE */
html,body,main{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background-color: var(--White-);
    font-family:Energy;
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: var(--White-);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 var(--LightBlue-);
}
.form .input {
    font-family: Energy;
    outline: 0;
    background: var(--LightGrey-);
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 1px;
} 
.form .button {
    font-family: Energy;
    text-transform: uppercase;
    outline: 0;
    background: var(--LightBlue-);
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--White-);
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
}
.form .message {
    margin: 15px 0 0;
    color: var(--Black-);
    font-size: 1.4em;
}
.form .message a {
    color: var(--Black-);
    text-decoration: none;
}
.message a:hover{
    color: var(--Blue-) ;
}

