/* ROOT & FONT*/
@font-face {
    font-family: Energy ;
    src: url(../font/LTEnergy.ttf);
}

:root{
    --Blue- :#1045a8;
    --LightBlue- :#4d82e6;
    --ClearBlue- :#b4ceff;
    --Red- : rgb(226, 27, 27) ;
    --DarkRed- : rgb(141, 20, 20) ;
    --White-:rgb(255, 255, 255);
    --Grey-:rgb(221, 221, 221);
    --LightGrey-:rgb(236, 236, 236);
    --Black-:rgb(0, 0, 0);
    --LightBlack-:rgb(83, 83, 83);
    --Transparent-:rgba(255, 255, 255, 0);
    --Shadow-:rgba(0, 0, 0, 0.219);
}
